@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

$font1: 'Bebas Neue', sans-serif;
$color1: #866A46;
$color2: #B7A57B;
$color3: #5F3A1C;
$color4: #333333;
$color5: #090A08;